.card {
    background-color: #f0f0f0;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
  }
  
  .card h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  .card p {
    font-size: 1.2rem;
  }