.formulario {
  font-family: sans-serif;

margin: auto;
  }

  
  .label {
    color: white;
  }
  
  

  .textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .inputField {
    height: 38px;
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
    margin-bottom: 1.5rem;
  } 

  
  